/* Font Styles */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* common Styles */
.font_colors {
    color:#4E47FF;
}

/* Section 01 */
.container1 {
    height:900px;
    width:100%;
    background-image: url("Assets/Hero-bg.png");
}

.navbar {
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    padding:80px 80px 0px;
}

.logo {
    font-size: 34px;
    font-weight:bolder;
}
.sign{
    padding:10px 60px;
    font-size:16px;
    color:white;
    background-color: #4E47FF;
    border-radius: 10px;
    
}

.under_navbar {
    margin:0 auto;
    text-align: center;
    padding:5px;
}
.cool {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
.agency {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.under_navbar button{
    padding:18px 60px;
    background-color: #4E47FF;
    color:white;
    border-radius: 15px;
    font-size:18px;
}

/* Body Section */
main{
    margin:0 auto;
    max-width:1140px;
}

/* Section no.2 */
    .section2 {
        display:flex;
        margin-top:102px;
        justify-content: space-between;
    }
