/* Font Styles */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* common Styles */
.font_colors {
    color:#4E47FF;
}

/* Section 01 */
.container1 {
    height:698px;
    width:100%;
    background-image: url("Assets/Hero-bg.png");
}

.navbar {
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    padding:80px 80px 0px;
}

.logo {
    font-size: 34px;
    font-weight:bolder;
}
.sign{
    padding:10px 60px;
    font-size:16px;
    color:white;
    background-color: #4E47FF;
    border-radius: 10px;
    border:none;
}

.under_navbar {
    margin:0 auto;
    text-align: center;
    padding:5px;
}
.cool {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}
.agency {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.under_navbar button{
    padding:18px 60px;
    background-color: #4E47FF;
    color:white;
    border-radius: 15px;
    font-size:18px;
    border:none;
}

/* Body Section */
body {
    background-color: rgba(255, 255, 255, 0.5);
}
main{
    margin:0 auto;
    max-width:1140px;
}

/* Section no.2 */
.action_section{
    display:flex;
    margin-top:102px;
    justify-content: space-between;
    gap:220px;
}

.action_section .title {
    font-size: 42px;
    font-weight:bold;
    color:#252432;
}

.action_section .subtitle {
    font-size: 24px;
    font-weight:400px;

}
.Launch_Live_Preview_Button {
    background-color:#4E47FF;
    padding:12px 36px;
    color:white;
    border-radius: 10px;
    border: none;
}

.action_section .part2 img {
    border-radius: 48px;
}

/* ### 4. Productive Users Section */
.productive_user_section {
    margin-top:111px;
    border-radius: 24px;
    height:306px;
    width:1140px;
    background-color: rgba(78, 71, 255, 0.1);
}

.productive_users {
    padding-top:50px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
.ratings {
    display:flex;
    justify-content: space-evenly;
    margin-top: 2px;
    margin-bottom: 50px;
}
.rating {
    padding-bottom:0px;
}

.num {
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0px;
    color:#511B1B;
    margin-top:40px;
}

.opinion {
    font-size: 20px;
    font-weight: 400px;
    margin-top:0px;
    margin-bottom:50px;
}

/* ## 🧪 CHALLENGES (10 Marks)
Users’ Feedback Section */

.feedback_container {
    height:243px;
    width:1140px;
    margin-top: 142px;
    margin-bottom:137px;
    text-align: center;
}

.feedback_font {
    font-size:42px;
    font-weight: bold;
    color:#252432;
}

.profile_buttons {
    height:243px;
    width:1140px;
    margin-top:50px;
    display:flex;
    justify-content: space-evenly;
    
}

.profile_button {
    height:200px;
    width:366px;
    background-color: #f2eded77;
    border-radius: 14px;
    text-align: left;
    padding:20px;
    margin-right: 20px;
}

.stars {
    height:20px;
    width:100px;
    background-image: url("Assets/icon-star.png");
    background-repeat: repeat-x;
    background-size: 20px 20px;

}

.info {
    height:81px;
    width:318px;
    margin-bottom: 16px;
}

.typo {
    font-size: 24px;
}

.info small {
    font-size: 14px;
}
.reviewer {
    display:flex;
    gap:12px;
    height:46px;
    width:318px;
    margin-top: 24px;
}

.women_pic {
    height:40px;
    width:40px;
    border-radius: 50%;
    background-image: url("Assets/avatar.png");
}

.reviewer_name {
    margin-top: 0px;
    margin-bottom: 0px;
}

.date {
    margin-top: 0px;
    margin-bottom: 0px;
}





/*  Let’s Get In Touch Section */
.touch {
    height: 632px;
    width:1140px;
    margin-top:132px;
    display:flex;
    justify-content: space-between;
    gap:115px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.touch1 {
    /* height: 232px;
    width:528px; */
    font-weight: bold;
    font-size: 70px;
    width:50%;
}

.touch2 input[type = "email"], .touch2 input[type = "text"], .touch2 textarea {
    display:block;
    height:30px;
    border-radius: 10px;
    width:50%;
    padding:20px 230px 20px 32px;
    /* border:19px; */
    background-color: white;
}

.fonts {
    font-size: 20px;
}
.touch_button {
    font-size: 16px;
    padding:19px 240px;
    background-color: #4E47FF;
    color:white;
    border-radius: 10px;
    font-weight: bold;
    border:none;
}

/* ### 6. Footer Section */
.ending {
    margin-top:79px;
    width:1130px;
    height:428px;
    background-color: rgba(0, 0, 0, 0.01);
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;

}

.containers {
    height:177px;
    width:531px;

}

.logo_big {
    color:rgba(78, 71, 255, 1);
    font-size: 100px;
    font-weight: 900px;
    margin-top:0px;
    margin-bottom:0px;
}

.subtitles {
    color:#8987A1;

}
footer a {
    text-decoration: none;
    color:#8987A1;
    margin-right: 48px;
}



